<% title "Store" %>

<p>
  <strong>Ship Cost School:</strong>
  <%= @store.ship_cost_school %>
</p>
<p>
  <strong>Ship Cost Home:</strong>
  <%= @store.ship_cost_home %>
</p>
<p>
  <strong>Contact Name:</strong>
  <%= @store.contact_name %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @store.contact_email %>
</p>
<p>
  <strong>School Credit:</strong>
  <%= @store.school_credit %>
</p>
<p>
  <strong>Seller Credit:</strong>
  <%= @store.seller_credit %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @store.notes %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @store.sport_id %>
</p>
<p>
  <strong>Season:</strong>
  <%= @store.season_id %>
</p>
<p>
  <strong>School:</strong>
  <%= @store.school_id %>
</p>
<p>
  <strong>Salesman:</strong>
  <%= @store.salesman_id %>
</p>
<p>
  <strong>Status:</strong>
  <%= @store.status_id %>
</p>

<p>
  <%= link_to "View All", stores_path %>
</p>
