<% title "Store" %>

<p>
  <strong>Ship Cost School:</strong>
  <%= @store.ship_cost_school %>
</p>
<p>
  <strong>Ship Cost Home:</strong>
  <%= @store.ship_cost_home %>
</p>
<p>
  <strong>Contact First Name:</strong>
  <%= @store.contact_first_name %>
</p>
<p>
  <strong>Contact Last Name:</strong>
  <%= @store.contact_last_name %>
</p>
<p>
  <strong>Contact Email:</strong>
  <%= @store.contact_email %>
</p>
<p>
  <strong>School Credit:</strong>
  <%= @store.school_credit %>
</p>
<p>
  <strong>Seller Credit:</strong>
  <%= @store.seller_credit %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @store.notes %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @store.sport_id %>
</p>
<p>
  <strong>Season:</strong>
  <%= @store.season_id %>
</p>
<p>
  <strong>School:</strong>
  <%= @store.school_id %>
</p>
<p>
  <strong>Salesman:</strong>
  <%= @store.salesman_id %>
</p>
<p>
  <strong>Shipping:</strong>
  <%= @store.shipping_id %>
</p>
<p>
  <strong>Instance:</strong>
  <%= @store.instance %>
</p>
<p>
  <strong>Request Open:</strong>
  <%= @store.request_open %>
</p>
<p>
  <strong>Request Close:</strong>
  <%= @store.request_close %>
</p>
<p>
  <strong>Opened:</strong>
  <%= @store.opened %>
</p>
<p>
  <strong>Closed:</strong>
  <%= @store.closed %>
</p>
<p>
  <strong>Flier:</strong>
  <%= @store.flier %>
</p>
<p>
  <strong>Sales Order:</strong>
  <%= @store.sales_order %>
</p>

<p>
  <%= link_to "Edit", edit_store_path(@store) %> |
  <%= link_to "Destroy", @store, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", stores_path %>
</p>
