<% title "Salesman" %>

<p>
  <strong>Abbr:</strong>
  <%= @salesman.abbr %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @salesman.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @salesman.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @salesman.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @salesman.phone %>
</p>
<p>
  <strong>Active:</strong>
  <%= @salesman.active %>
</p>

<p>
  <%= link_to "View All", salesmen_path %>
</p>
