<% title "Color" %>

<p>
  <strong>Label:</strong>
  <%= @color.label %>
</p>
<p>
  <strong>Abbr:</strong>
  <%= @color.abbr %>
</p>
<p>
  <strong>White Text:</strong>
  <%= @color.white_text %>
</p>
<p>
  <strong>Hex:</strong>
  <%= @color.hex %>
</p>

<p>
  <%= link_to "View All", colors_path %>
</p>
