<% title "Schools" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mascot</th>
      <th>Colors</th>
      <th>Salesman</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>Abbr</th>
      </tr>
    </thead>
    <tbody>
    <% for school in @schools %>
      <tr>
        <td><%= link_to school.name, school %></td>
        <td><%= school.mascot %></td>
        <td><%= school.pri_color %>/<%= school.sec_color %></td>
        <td><%= school.salesman %></td>
        <td><%= school.address %></td>
        <td><%= school.city %></td>
        <td><%= school.zip %></td>
        <td><%= school.abbr %></td>
        <td><%= link_to "Show", school %></td>
      </tr>
    <% end %>
  </tbody>
</table>

