<% title "School" %>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>
<p>
  <strong>Mascot:</strong>
  <%= @school.mascot %>
</p>
<p>
  <strong>Pri Color:</strong>
  <%= @school.pri_color %>
</p>
<p>
  <strong>Sec Color:</strong>
  <%= @school.sec_color %>
</p>
<p>
  <strong>Salesman:</strong>
  <%= @school.salesman %>
</p>
<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @school.zip %>
</p>
<p>
  <strong>Abbr:</strong>
  <%= @school.abbr %>
</p>

<p>
  <%= link_to "View All", schools_path %>
</p>
