<% title "Totals" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Salesman</th>
      <th>Webstore</th>
      <th>Year</th>
      <th>Date</th>
      <th>School</th>
      <th>Sport</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% for total in @totals %>
      <tr>
        <td><%= total.salesman.try(:full_name) %></td>
        <td><%= link_to total.store.try(:name), total %></td>
        <td><%= total.year.try(:label) %></td>
        <td><%= total.date %></td>
        <td><%= total.school.try(:name) %></td>
        <td><%= total.sport.try(:name) %></td>
        <td><%= total.gross %></td>
      </tr>
    <% end %>
  </tbody>
</table>

