<% title "Total" %>

<p>
  <strong>Salesman:</strong>
  <%= @total.salesman %>
</p>
<p>
  <strong>Webstore:</strong>
  <%= @total.webstore %>
</p>
<p>
  <strong>Year:</strong>
  <%= @total.year %>
</p>
<p>
  <strong>Date:</strong>
  <%= @total.date %>
</p>
<p>
  <strong>School:</strong>
  <%= @total.school %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @total.sport %>
</p>
<p>
  <strong>Total:</strong>
  <%= @total.total %>
</p>

<p>
  <%= link_to "View All", totals_path %>
</p>
