<% title "Total" %>

<p>
  <strong>Salesman:</strong>
  <%= @total.salesman.try(:full_name) %>
</p>
<p>
  <strong>Webstore:</strong>
  <%= @total.store.try(:name) %>
</p>
<p>
  <strong>Year:</strong>
  <%= @total.year.try(:name) %>
</p>
<p>
  <strong>Date:</strong>
  <%= @total.date %>
</p>
<p>
  <strong>School:</strong>
  <%= @total.school.try(:name) %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @total.sport.try(:label) %>
</p>
<p>
  <strong>Total:</strong>
  <%= @total.gross %>
</p>

<p>
  <%= link_to "View All", totals_path %>
</p>
