<% title "Total" %>

<p>
  <strong>Salesman:</strong>
  <%= @total.salesman.full_name %>
</p>
<p>
  <strong>Webstore:</strong>
  <%= @total.store.label %>
</p>
<p>
  <strong>Year:</strong>
  <%= @total.year.label %>
</p>
<p>
  <strong>Date:</strong>
  <%= @total.date %>
</p>
<p>
  <strong>School:</strong>
  <%= @total.school %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @total.sport.label %>
</p>
<p>
  <strong>Total:</strong>
  <%= @total.total %>
</p>

<p>
  <%= link_to "View All", totals_path %>
</p>
